@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,300&display=swap");

@import "tailwindcss";

@theme {
  --font-family-head: "Syne", sans-serif;
  --font-family-body: "DM Sans", sans-serif;

  --color-bg: #080b10;
  --color-bg1: #0d1117;
  --color-bg2: #161b22;
  --color-bg3: #1e242c;
  --color-accent: #4f8ef7;
  --color-green: #3fb950;
  --color-text1: #e6edf3;
  --color-text2: #8b949e;
  --color-text3: #484f58;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080b10;
  color: #e6edf3;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

strong {
  color: #e6edf3;
  font-weight: 500;
}
